<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Listado de Carreras</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div th:replace="~{layouts/header :: header}"></div>
    <div class="container mt-5">
        <h2 class="mb-4">Listado de Carreras</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark"> <!-- Encabezado de la tabla con fondo oscuro -->
                    <tr>
                        <th>Legajo</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="docente : ${docentes}">
                        <td th:text="${docente.legajo}"></td>
                        <td th:text="${docente.nombre}"></td>
                        <td th:text="${docente.apellido}"></td>
                        <td th:text="${docente.email}"></td>
                        <td th:text="${docente.telefono}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="~{layouts/footer :: footer}"></div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
