<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Modificar Materia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div th:replace="~{layouts/header :: header}"></div>
    <div class="container mt-5">
        <h2 class="mb-4">Modificar Materia</h2>
        <form th:action="@{/materias/modificar}" method="post">
            <div class="form-group">
                <label for="codigo">Código:</label>
                <input type="text" class="form-control" id="codigo" name="codigo" th:value="${codigo}" readonly>
            </div>
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="curso">Curso:</label>
                <input type="text" class="form-control" id="curso" name="curso" required>
            </div>
            <div class="form-group">
                <label for="cantidadHoras">Cantidad de Horas:</label>
                <input type="number" class="form-control" id="cantidadHoras" name="cantidadHoras" required>
            </div>
            <div class="form-group">
                <label for="modalidad">Modalidad:</label>
                <select class="form-control" id="modalidad" name="modalidad">
                    <option value="presencial">Presencial</option>
                    <option value="virtual">Virtual</option>
                </select>
            </div>
            <div class="form-group">
                <label for="docente">Docente:</label>
                <select class="form-control" id="docente" name="docente.legajo">
                    <option th:each="docente : ${docentes}" th:value="${docente.legajo}" th:text="${docente.nombre + ' ' + docente.apellido}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="carrera">Carrera:</label>
                <select class="form-control" id="carrera" name="carrera.codigo">
                    <option th:each="carrera : ${carreras}" th:value="${carrera.codigo}" th:text="${carrera.nombre}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-4">Guardar</button>
        </form>
    </div>
    <div th:replace="~{layouts/footer :: footer}"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
